<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KnightTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KnightWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06B90A4D1C7E9094002F4312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B90A611C7E9094002F4312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B90A6C1C7E9094002F4312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B90A801C7E90C0002F4312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
